<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Avec le Soleil - BackOffice</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/vaeadmin/css/login_admin.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bootstrap/images/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>