
  
        <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    
                    <ul class="thumbnails">
                        {% for video in videos %}
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="{{video.url}}"><iframe width="225" height="155" src="{{video.url}}" frameborder="0" allowfullscreen></iframe></a>
                            </div>
                            
                        </li>
                        {% endfor %}
                        
                    </ul>
             
             
            </div>
        
        {#<div class="control-box">                            
            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
        </div><!-- /.control-box -->   #}
                              
    </div><!-- /#myCarousel -->


{#
    Exemple 1 : liste des des video par site, ...
    ---------------------------------------------

    Nom du Bundle: VaeBaseBundle
    Controller: Liens
    Action    : listeVideos
    ----------------------------------------------

    A INTEGRER : 
        - dans le detail rubrique
        - {{ render(controller('VaeBaseBundle:Liens:listeVideos', {'nomSite' : site.nom } ))}}

    VARIABLES DISPONIBLES:
        - partenaire: ARRAY/OBJ : 
                     propriétés : id, titre, titreEn, url

    ----------------------------------------------                
    POUR TESTER : app_dev.php/$_locale/nom du site/accueil
    ----------------------------------------------
#}


