* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #dadada; }

.content {
  width: 976px;
  margin: auto;
  padding: 0 12px; }

a {
  text-decoration: none;
  color: #dadada; }

a:hover {
  color: white; }

ul {
  list-style-type: none; }

#top_header_wrapper {
  display: block;
  background-color: #131313;
  border-bottom: 6px solid #161616; }

#top_header {
  color: #eee;
  line-height: 60px; }

#top_header nav {
  overflow: hidden; }
#top_header nav h1 {
  font-size: 1.8em;
  float: left; }
#top_header nav ul {
  float: right; }
#top_header nav li {
  float: left;
  margin-left: 20px; }

#main_wrapper {
  background-color: #1C1C1C; }

#main {
  min-height: 800px;
  background-color: #dadada;
  border-left: 5px solid #161616;
  border-right: 5px solid #161616;
  padding-top: 12px;
  padding-bottom: 12px; }

#main header {
  padding: 8px 10px;
  background-color: #1C1C1C;
  text-transform: uppercase; }
#main h2 {
  font-size: 1.7em;
  text-transform: uppercase; }

#admin_wrapper {
  overflow: hidden;
  margin-top: 12px; }

#admin_menu {
  width: 200px;
  background-color: #1C1C1C;
  float: left; }

#admin_menu h2 {
  padding: 10px;
  border-bottom: 2px #161616 solid; }
#admin_menu ul {
  background-color: #131313; }
#admin_menu li a {
  display: block;
  padding: 10px;
  font-size: 1.4em;
  border-bottom: #dadada solid 2px; }
#admin_menu li a:hover {
  background-color: #dadada;
  color: #131313; }

#admin {
  width: 764px;
  background-color: #1C1C1C;
  float: right; }

#admin h2 {
  padding: 10px 20px;
  border-bottom: 2px solid #161616; }

#admin_table {
  padding: 20px 20px;
  background-color: #131313;
  border-bottom: 12px #dadada solid; }

#admin_table table {
  border-collapse: separate !important;
  border-spacing: 0;
  width: 100%;
  background-color: #1C1C1C;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
#admin_table th {
  font-size: 0.8em;
  color: #131313;
  padding: 5px 5px;
  background-color: #dadada;
  text-transform: uppercase;
  text-align: left; }
#admin_table td {
  font-size: 0.75em;
  padding: 7px 5px 0px 5px; }
#admin_table tr:last-child td {
  padding-bottom: 7px; }
#admin_table table td ul {
  overflow: hidden; }
#admin_table table td ul li {
  float: left;
  margin-right: 5px; }
#admin_table table tbody {
  background-color: #1C1C1C; }
#admin_table #table_info {
  overflow: hidden;
  margin-top: 20px; }
#admin_table #pagination {
  float: left; }
#admin_table #pagination li {
  font-size: 1.2em;
  color: #131313;
  float: left;
  line-height: 30px;
  width: 30px;
  text-align: center;
  margin-right: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dadada), color-stop(1, #9a9a9a));
  background: -moz-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: -webkit-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: -o-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: -ms-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: linear-gradient(to bottom, #dadada 5%, #9a9a9a 100%); }
#admin_table #pagination a {
  display: block;
  color: #131313; }
#admin_table #pagination a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9a9a9a), color-stop(1, #dadada));
  background: -moz-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: -webkit-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: -o-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: -ms-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: linear-gradient(to bottom, #9a9a9a 5%, #dadada 100%); }
#admin_table #pagination .active {
  color: white; }
#admin_table .wrap_button {
  float: right; }

#admin_form {
  padding: 20px 20px;
  background-color: #131313; }

#admin_form {
  /* SYMFONY GENERE A DIV DIV WARP AROUND THE FORM */ }
  #admin_form form {
    width: 100%;
    background-color: #1C1C1C;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  #admin_form fieldset {
    border: none; }
  #admin_form legend {
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 20px; }
  #admin_form div {
    width: 100%;
    background: #1C1C1C;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #161712;
    padding: 10px 0 10px 0;
    overflow: hidden; }
  #admin_form label {
    display: block;
    color: #dadada;
    font-size: 1.1em;
    float: left;
    width: 165px;
    padding: 5px 20px 5px 20px; }
  #admin_form input[type="text"], #admin_form textarea {
    color: #dadada;
    padding: 10px 10px;
    width: 400px;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }
  #admin_form textarea {
    overflow: hidden;
    height: 150px; }
  #admin_form select {
    width: 420px;
    height: 35px;
    background: #262626;
    color: #dadada;
    border: none;
    padding: 0px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }
  #admin_form input[type="radio"], #admin_form input[type="checkbox"] {
    margin: 10px 25px 10px 10px;
    background: #000; }
  #admin_form button {
    margin-left: 20px;
    border: none; }
  #admin_form input[type="text"]:focus, #admin_form textarea:focus, #admin_form select:focus {
    outline: #dadada 1px solid; }

.btn {
  color: #131313;
  font-weight: bold;
  padding: 10px 19px;
  font-size: 1.1em;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dadada), color-stop(1, #9a9a9a));
  background: -moz-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: -webkit-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: -o-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: -ms-linear-gradient(top, #dadada 5%, #9a9a9a 100%);
  background: linear-gradient(to bottom, #dadada 5%, #9a9a9a 100%);
  text-shadow: 0px 1px 0px #ffffff;
  cursor: pointer; }

.btn:hover {
  color: #1C1C1C;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9a9a9a), color-stop(1, #dadada));
  background: -moz-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: -webkit-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: -o-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: -ms-linear-gradient(top, #9a9a9a 5%, #dadada 100%);
  background: linear-gradient(to bottom, #9a9a9a 5%, #dadada 100%); }

.btn:active {
  position: relative;
  top: 1px; }

.btn_small {
  padding: 5px 10px;
  font-size: 0.9em;
  border: none; }
